/*
*{
  color : green;
}
li {
  color : black;
}
#special{
  color : pink;
}
.red{
  width: 100px;
  height: 100px;
  background: yellow;
}
button:hover{
  color: blue;
  background-color: blue;
}

a[href]{
  color: purple;
}
a[href^="naver"]{
  color : red;
}
a[href$="oo"]{
  color: purple;
}
*/
.red{
  width: 100px;
  height: 100px;
  background: yellow;
  padding: 20px; /* 컨텐츠 안에*/
  margin: 20px; /*컨텐츠 밖에*/
}
